@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Young+Serif&display=swap");
* {
  font-family: "Inter", sans-serif;
}

.young-font {
  font-family: "Young Serif", serif;
}

.nunito-sans {
  font-family: "Nunito Sans", sans-serif;
}

@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;

  --color-primary: #7c3aed;
  --color-secondary: #0f172a;
  --color-accent: #22d3ee;
  --color-neutral: #020617;
  --color-base-100: #0f172a;
}
/* --color-primary: #1fd160;
  --color-secondary: teal;
  --color-base-200: #1e2326;
} */

/* primary: "#7C3AED",   // Neon Purple
        secondary: "#0F172A", // Deep Blue/Black
        : "#",
        neutral: "#020617",
        "base-100": "#0F172A",
      }, */

.myContainer {
  @apply w-11/12 mx-auto;
}

.navbar .menu {
  @apply space-x-5;
}
.navbar ul a {
  @apply border-b border-transparent hover:text-primary;
}
.navbar ul a.active {
  @apply text-primary border-primary bg-base-100 px-2 rounded-full;
}
