@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #20c997;
  --color-secondary: teal;
}

.myContainer {
  @apply w-11/12 mx-auto;
}

.navbar .menu {
  @apply space-x-5;
}

.navbar a.active {
  @apply bg-white/50;
}
