@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;

  --color-primary: #20c997;
  --color-secondary: teal;
}

.myContainer {
  @apply w-11/12 mx-auto;
}

.navbar .menu {
  @apply space-x-5;
}
.navbar a {
  @apply border-b border-transparent hover:text-primary;
}
.navbar a.active {
  @apply text-primary border-primary;
}
